.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --specifiedColumnSize: 150px;
  --modalIndex: 2;
}

.modalOverlay {
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.clickable {
  cursor: pointer;
}

.modalHeader {
  z-index: var(--modalIndex);  
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* .modalContent {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100px auto;
} */

.modalActions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bottomGutter {
  margin-bottom: 5px;
}

.modal {
  z-index: var(--modalIndex);
  position: fixed;
  top: 50%;
  left: 50%;
  border: solid;
  border-radius: 5px;
  background: white;
  padding: 10px;
}

.actionBtn {
  background-color: white;
}

.leftBtn{
  background-color: white;
}
.rightBtn{
  background-color: black;
  color: white
}


.createBtnContainer {
  display: flex; 
  justify-content: center; 
  margin-top: 15px;
}

.createBtn {
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 170px;
  height: 30px;
  transition: background-color 1s linear 1s 
}

.createBtn:hover {
  background-color: white;
  color: black; 
}

.urlTableHeader {
  display: grid;
  grid-template-columns: var(--specifiedColumnSize) var(--specifiedColumnSize) auto auto; 
  margin-bottom: 10px;
}
.urlBlock {
  display: grid;
  border-style: solid;
  border-radius: 2px;
  margin-bottom: 5px;
}

.shortcut {
  padding-left: 5px;
}

.Mobile {
  grid-template-columns: var(--specifiedColumnSize) var(--specifiedColumnSize) auto;
}

.Desktop {
  grid-template-columns: var(--specifiedColumnSize) var(--specifiedColumnSize) auto auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
